# Docker
docker-compose.override.yml

# Backend
backend/vendor/
backend/.env
backend/storage/
backend/bootstrap/cache/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


